<li data-id="<%== tw.id %>" data-context="<%== tw.context_user %>" class="<%=tw.in_reply_to_screen_name == tw.context_user ? "reply-to-me":""%>">
    <p class="appendix">
      <% if tw.user.screen_name == tw.context_user %>
        <span data-id="<%=tw.id%>" data-name="<%=tw.user.screen_name%>" class="delete">Delete</span>
      <% end %>
    <span data-id="<%=tw.id%>" class="rt">RT</span>
    <span data-name="<%=tw.user.screen_name%>" data-id="<%=tw.id%>" class="reply">reply</span>
    </p>
  <% if tw.retweeted_status %>
    <p class="author">
      <span>
        <img width="48" height="48" src="<%==tw.retweeted_status.user.profile_image_url %>" />
      <img width="24" height="24" style="position:absolute; left:-28px; top:22px; margin-right:-24px;" src="<%=tw.user.profile_image_url%>" />
    </span>
    <span><img src="/images/rt.png" width="16" height="16" style="position:static"/><a data-name="<%==tw.retweeted_status.user.screen_name%>" 
        class="twitter-user" href="//twitter.com/<%= tw.retweeted_status.user.screen_name %>">
        <%= tw.retweeted_status.user.screen_name %></a>
      by <a data-name="<%==tw.user.screen_name%>" class="twitter-user" href="//twitter.com/<%= tw.user.screen_name %>"
        ><%=protected_user(tw.user.protected)%><%= tw.user.screen_name %></a>
    </span>
  <% if tw.retweeted_status.in_reply_to_status_id %>
    <span class="tweet-status thread"
      data-id="<%=tw.retweeted_status.in_reply_to_status_id%>"
      >reply to <%=tw.retweeted_status.in_reply_to_screen_name%></span>
  <% end %>
    </p>
    <p class="tweet">
    <%=nl2br tw.retweeted_status.text %>
    </p>
 <% else %>
    <p class="author">
      <span>
        <img width="48" height="48" src="<%==tw.user.profile_image_url%>" />
        <a data-name="<%==tw.user.screen_name%>" class="twitter-user" href="//twitter.com/<%= tw.user.screen_name %>"
          ><%=protected_user(tw.user.protected)%><%= tw.user.screen_name %></a>
  </span>
  <% if tw.in_reply_to_status_id %>
    <span class="tweet-status thread"
      data-id="<%=tw.in_reply_to_status_id%>"
      >reply to <%=tw.in_reply_to_screen_name%></span>
  <% end %>
    </p>
    <p class="tweet">
    <%=nl2br tw.text%>
    </p>
 <% end %>
    <p class="foot">
      <% if tw.retweeted_status %>
        <small class="rt-timestamp">(<%==tw.retweeted_status.created_at%>)</small>
      <% end %>
      <a class="permalink" href="//twitter.com/<%=tw.user.screen_name%>/statuses/<%=tw.id%>"><%=tw.created_at%></a>
      <%=tw.source%>
    </p>
  </li>


