<div id="tweets-info">
<input data-id="<%==@id%>" data-type="<%==@type%>" type="button" value="reload" class="reload" />
<h2><%== @label || ""%></h2>
<ul id="timeline-streams">
  <% @streams.each{|st| %>
    <li>
      <%==st.label%>
    </li>
  <% } %>
</ul>
</div>

<ol id="tweets" class="tweets">
<% @timeline.each{|tw| %>
  <%= partial(:_stream, :tw => tw)%>
<% } %>
</ol>
